<h2>Fortune Cookies</h2>

<div class="list-group">
    <h3>Sort by:</h3>
    <a href="#/home" type="button" role="button" class="btn btn-info">All</a>
    <a href="#/home/sort/category" type="button" role="button" class="btn btn-info">Category</a>
    <a href="#/home/sort/date" type="button" role="button" class="btn btn-info">Date</a>
    <a href="#/home/sort/likes" type="button" role="button" class="btn btn-info">Likes</a>
</div>


{{#if this}}
    <ul>
        {{#each this}}
            <h3><a href="#/home?category={{category}}">{{category}}</a></h3>
        <hr/>
        <div class="row">
                {{#each cookies}}
                    <div class="share-cookie-item">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img class="share-cookie-item-img" src="{{img}}" alt="{{text}}">
                                <div class="caption">
                                    <h3 class="share-cookie-item-category">{{category}}</h3>
                                    <p class="share-cookie-item-text">{{text}}</p>
                                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <p class="cookie-item" data-id="{{id}}">
                                            <button type="button" class="btn btn-primary btn-cookie-like">Likes {{likes}}</button>
                                            <button type="button" class="btn btn-default btn-cookie-dislike">Dislikes {{dislikes}}</button>
                                            <button type="button" class="btn btn-success btn-cookie-share">Share</button>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
        </div>
        {{/each}}

    </ul>
{{else}}
    <h3>No fortune cookies!</h3>
{{/if}}
